@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white;
}

body {
  @apply font-anton bg-gray-50;
  border: 15px solid white;
  background-color: #6c9591;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
}

#container {
  @apply font-host;
}

#container svg {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.stat-arc-hover,
.group-arc-hover,
.stat-label-arc-hover,
.top-clickable-hover,
.bottom-clickable-hover {
  opacity: 0 !important;
  /* cursor: pointer; */
}

.stat-arc-normal.hover,
.group-arc-normal.hover,
.stat-label-arc-normal.hover {
  filter: brightness(0.9) !important;
}

.top-clickable-normal.hover,
.bottom-clickable-normal.hover {
  transition: filter 0.1s ease;
  filter: brightness(0.96) !important;
}

.darken:hover {
  filter: brightness(0.86);
}

.justified-text {
  text-align: justify;
  text-justify: inter-word;
  word-spacing: -0.5px; /* Fine-tune spacing between words */
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}

.group-arc-hover,
.overlay {
  cursor: pointer;
}

.checkbox {
  cursor: pointer;
}

.center-image {
  animation: spin 20s linear infinite;
}

.spin-fast {
  animation: spin 5s linear infinite;
}

.spin-slow {
  opacity: 0.7;
  animation: spin 30s linear infinite;
}

.spin-slow-reverse {
  animation: spin 20s linear infinite reverse;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.fade-enter-active,
.fade-leave-active {
  transform: translateY(0);
  transform-origin: center;
  transition: transform 1s ease, opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
  transform: translateY(50px);
}

.fade-quick-enter-active,
.fade-quick-leave-active {
  transition: opacity 0.25s ease;
}

.fade-quick-enter-from,
.fade-quick-leave-to {
  opacity: 0;
}
