html {
  @apply bg-gray-50;
}

body {
  @apply font-anton border-[8px] md:border-[16px] border-gray-50;
  background-color: #6c9591;
  background-image: url('https://www.transparenttextures.com/patterns/asfalt-light.png');
}

#container svg {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

.stat-arc-hover,
.group-arc-hover,
.stat-label-arc-hover,
.top-clickable-hover,
.bottom-clickable-hover {
  opacity: 0 !important;
}

.stat-arc-normal.hover,
.group-arc-normal.hover,
.stat-label-arc-normal.hover {
  filter: brightness(0.9) !important;
}

.top-clickable-normal.hover,
.bottom-clickable-normal.hover {
  transition: filter 0.1s ease;
  filter: brightness(0.96) !important;
}

.darken:hover {
  filter: brightness(0.86);
}

.group-arc-hover,
.overlay,
.checkbox {
  cursor: pointer;
}

.spin-fast {
  animation: spin 5s linear infinite;
}

.spin-mid {
  animation: spin 20s linear infinite;
}

.spin-mid-reverse {
  animation: spin 20s linear infinite reverse;
}

.spin-slow {
  animation: spin 30s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
